# This is Git's per-user configuration file.
[user]
	name = Fabrizio Fasanando
	email = fabriziofasanando2@gmail.com
	signingkey = 141BDF76D58B2E6E
[commit]
	gpgsign = true
[tag]
	gpgsign = true
[gpg]
	program = /usr/local/bin/gpg
[core]
	excludesfile = ~/.gitignore_global
	autocrlf = input
[color]
	ui = true
