# This is Git's per-user configuration file.
[user]
	name = Fabrizio Fasanando
	email = fabriziofasanando2@gmail.com
	signingkey = 7C5F53C275A84D7E
[commit]
	gpgsign = true
[tag]
	gpgsign = true
[gpg]
	program = /usr/local/bin/gpg
[core]
	excludesfile = ~/.gitignore_global
	autocrlf = input
	filemode = false
[color]
	ui = true
