# This is Git's per-user configuration file.
[user]
	name = Fabrizio Fasanando
	email = fabriziofasanando2@gmail.com
	signingkey = 3C9415A2D52DCE44
[commit]
	gpgsign = true
[gpg]
	program = /usr/local/bin/gpg
[core]
	excludesfile = ~/.gitignore_global
